* {box-sizing: border-box;}

:root{
    --font1: 'Gabriela', sans-serif;
    --font2: "Mali", sans-serif;
    --navy: #2f4156;
    --teal: #658fa3;
    --beige: #f5efeb;
    --skyblue: #cbd9e6;
    --white: #fff;
    --black: #000;
    --pink: 
}


body {
    margin: 0;
    padding: 0;
}

/* home.html */

/* header section */

#header {
    background-color: var(--navy);
}

.heading-hs1 {
    font-family: var(--font1);
    color: var(--beige);
}

.introduction-header {
    font-family: var(--font1);
    color: var(--navy);
}

.intro-text {
    color: var(--navy);
}

.subheading-intro {
    font-family: var(--font2);
}

.nav-text {
    color: var(--beige);
    margin: 0 15px;
    font-family: var(--font2);
    font-weight: 600;
}

.nav-text:hover {
    color: var(--white);
    transition-duration: 0.5s;
}

.link-color {
    color: var(--navy);
    font-family: var(--font2);
}

.link-color:hover {
    color: var(--skyblue);
    transition-duration: 0.3s;
}

/* main section */

#mainSection1 {
    padding: 85px 0;
    background-color: var(--beige);
}

.image-border {
    border: 4px solid var(--teal);
}

.main-introduction-box {
    padding: 20px 0px;
}

.ms1-text {
    font-size: 1.2rem;
}

/* footer section */

#footerSection {
    background-color: var(--navy);
}

.contact-header {
    font-size: 2rem;
    color: var(--beige);
}

.social-subheading {
    font-size: 1.3rem;
    margin: -20px 0 20px 0;
    border-bottom: 1px solid;
    color: var(--beige);
}

.icon-socials {
    font-size: 1.1rem;
    color: var(--white);
}

.social-item {
    color: var(--white);
}

.social-item:hover {
    color: var(--white);
}

/* about section */
#aboutSection {
    padding: 20px 0;
}


/* projects section */
.border-color {
    border: 1px solid pink;
    box-shadow: 0 0 2px #aaa;
}

#projectSection {
    padding: 30px 0px;
}