* {box-sizing: border-box;}

:root{
    --font1: 'Gabriela', sans-serif;
    --font2: "Mali", sans-serif;
    --bgcolor: #ece0da;
    --border-color: linear-gradient(to bottom right, #f8f3ea, #fa9ebc);
}


body {
    margin: 0;
    padding: 0;
}

/* home.html */

/* header section */
.heading-hs1 {
    font-family: var(--font1);
}

.introduction-header {
    font-family: var(--font1);
}

.subheading-intro {
    font-family: var(--font2);
}

.nav-text {
    color: #9cad8c;
    margin: 0 15px;
    font-family: var(--font2);
    font-size: 1.2rem;
    font-weight: 600;
}

.nav-text:hover {
    color: #7e8c69;
    transition-duration: 0.5s;
}

/* main section */

#mainSection1 {
    padding: 85px 0;
}

.image-border {
    border: 4px solid;
    border-image: var(--border-color) 1;
}

.main-introduction-box {
    padding: 20px 0px;
}

.ms1-text {
    font-size: 1.2rem;
}

/* footer section */

#footerSection {
    background-color: bisque;
}

.footer-header {
    font-size: 2rem;
}

.social-subheading {
    font-size: 1.3rem;
    margin: -20px 0 20px 0;
    border-bottom: 1px solid;
}

/* about section */
#aboutSection {
    padding: 20px 0;
}


/* projects section */
.border-color {
    border: 1px solid pink;
    box-shadow: 0 0 2px #aaa;
}

#projectSection {
    padding: 30px 0px;
}